.Countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.visited-flag-container img{
    width: 150px;
    margin-right: 50px;
    margin-top: 20px;
    height: 100px;

}